/* Background image using css */
[class*='-ibg'] {
	position: relative;

	img {
		@include width-height(100%, 100%);

		position: absolute;
		left: 0;
		top: 0;
		object-fit: cover;
	}
}

@if $ibg-contain == 1 {
	/* Background image using css (contain) */
	[class*='-ibg--contain'] {
		img {
			object-fit: contain;
		}
	}
}
