.map-container {
	position: absolute;
	background-color: var(--color-light);
	width: 100%;
	height: 100%;
	border-radius: calc(var(--main-radius) * 2);
	overflow: hidden;

	[class*='-gototech'] {
		display: none;
	}
}
