@mixin adaptive-value(
	$property,
	$start-size,
	$min-size,
	$width-from: $container-width,
	$width-to: $min-width,
	$keep-size: 0
) {
	@if $start-size == 0 {
		$start-size: 0.000001;
	}

	@if $min-size == 0 {
		$min-size: 0.000001;
	}

	$add-size: math.div($start-size - $min-size, 16);

	@if $width-from == $container-width and $max-width-container == 0 {
		$width-from: $max-width;
	}

	$slope: math.div(($start-size - $min-size), ($width-from - $width-to));
	$y-intersection: -$width-to * $slope + $min-size;

	@if $y-intersection == 0 {
		$y-intersection: 0.000001;
	}

	$fly-value: #{rem($y-intersection)}" + " #{$slope * 100}vw;
	$property-value: #{"clamp(" rem($min-size) "," $fly-value "," rem($start-size) ")"};

	@if $min-size > $start-size {
		$property-value: #{"clamp(" rem($start-size) "," $fly-value "," rem($min-size) ")"};
	}

	#{$property}: calc(#{rem($min-size)} + #{$add-size} * (100vw - #{rem($width-to)}) / #{math.div($width-from, 16) - math.div($width-to, 16)});

	@if $width-from != $container-width and $width-from != $max-width and $keep-size != 1 and $keep-size != 2 {
		@media (min-width: em($width-from)) {
			#{$property}: inherit;
		}
	}

	@if $width-to != $min-width and $keep-size != 1 and $keep-size != 3 {
		@media (max-width: md($width-to)) {
			#{$property}: inherit;
		}
	}
}

// Responsive exit from the container https://www.youtube.com/watch?v=NVdlfhkDAGM&pp=ygU70J7RgtC30YvQstGH0LjQstGL0Lkg0LLRi9GF0L7QtCDQuNC3INC60L7QvdGC0LXQudC90LXRgNCy0LA%3D
@mixin responsive-output($image-height, $body-width, $breakpoint: 2, $reverse: 0) {
	$percent: round(math.div($body-width, $max-width-container) * 100);
	$width: $body-width - ($body-width - $percent);

	@if $breakpoint == 1 {
		$breakpoint: $laptop;
	} @else if $breakpoint == 2 {
		$breakpoint: $tablet;
	} @else if $breakpoint == 3 {
		$breakpoint: $phone;
	} @else {
		$breakpoint: $breakpoint;
	}

	@if $width <= 10 {
		$width: 0 + #{$width};
	}

	&__inner {
		display: flex;
		flex: 0 0 100%;
	}

	&__container {
		flex: 0 1 100%;

		@if $reverse == 1 {
			display: flex;
			flex-direction: row-reverse;
		}
	}

	&__body {
		@media (min-width: em($breakpoint)) {
			width: #{$percent} + "%";
		}
	}

	&__image {
		img {
			width: 100%;
		}

		@media (min-width: em($breakpoint)) {
			position: relative;
			flex: 0 0
				calc(
					((100% - #{rem($container-padding)}) * 0.#{math.div((100 - $percent), 1)}) +
						(rem($container-padding) / 2)
				);
			padding-bottom: round(percent($image-height, $max-width));

			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			@if $reverse == 1 {
				transform: translateX(100%);
			} @else {
				transform: translateX(-100%);
			}
		}

		@media (min-width: em($container-width)) {
			flex: 0 0 calc(50% - (0.#{$width} - 0.5) * rem($max-width-container));
		}
	}

	@media (min-width: em($breakpoint)) {
		display: flex;

		@if $reverse == 1 {
			flex-direction: row-reverse;
		}
	}

	@media (max-width: md($breakpoint)) {
		@if $reverse == 1 {
			display: flex;
			flex-direction: column-reverse;
		}
	}
}

@mixin slide($items, $translate, $time, $animation-delay, $direction, $breakpoint: $tablet) {
	$count: $items + 1;

	@media (min-width: em($breakpoint)) {
		opacity: 0;
		animation: slide-#{$direction} #{$time}s forwards;

		@if $direction == top {
			transform: translateY(#{$translate} + "%");
		} @else if $direction == bottom {
			transform: translateY(0);
		} @else if $direction == left {
			transform: translateX(#{$translate} + "%");
		} @else {
			transform: translateX(0);
		}

		@keyframes slide-#{$direction} {
			100% {
				opacity: 1;

				@if $direction == top {
					transform: translateY(0);
				} @else if $direction == bottom {
					transform: translateY(#{$translate} + "%");
				} @else if $direction == left {
					transform: translateX(0);
				} @else {
					transform: translateX(#{$translate} + "%");
				}
			}
		}

		@for $i from 2 through $count {
			$delay: ($i - 1) * $animation-delay;
			&:nth-child(#{$i}) {
				animation-delay: #{$delay}s;
			}
		}
	}
}

// Triangle using pseudo elements
@mixin triangle($color, $direction, $top, $right, $bottom, $left, $position) {
	position: $position;
	width: 0;
	height: 0;

	@if $direction == bottom {
		margin-top: 0 - round(calc($top / 2.5));
		border-top: rem($top) solid $color;
		border-right: rem($right) solid transparent;
		border-left: rem($left) solid transparent;
	} @else if $direction == up {
		margin-bottom: 0 - round(calc($bottom / 2.5));
		border-right: rem($right) solid transparent;
		border-bottom: rem($bottom) solid $color;
		border-left: rem($left) solid transparent;
	} @else if $direction == right {
		margin-right: rem(-$right);
		border-top: rem($top) solid transparent;
		border-bottom: rem($bottom) solid transparent;
		border-left: rem($left) solid $color;
	} @else {
		margin-left: rem(-$left);
		border-top: rem($top) solid transparent;
		border-right: rem($right) solid $color;
		border-bottom: rem($bottom) solid transparent;
	}
}

// Text truncation
@mixin truncate($truncation-width, $selector, $rows: 7, $type: 1) {
	@if $type == 1 {
		min-width: 0;
	}

	&__#{$selector} {
		max-width: rem($truncation-width);
		overflow: hidden;

		@if $type == 0 {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: $rows;
		} @else {
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

@mixin grid-cards($type: fit, $min: rem(290), $max: 1fr, $breakpoint: $phone) {
	display: grid;
	@content;

	@media (min-width: em($breakpoint)) {
		grid-template-columns: repeat(auto-#{$type}, minmax($min, $max));
	}
}

// Gradient text
@mixin text-gradient($gradient) {
	background: $gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin pseudo($content: "", $position: absolute) {
	content: $content;
	position: $position;
}

@mixin width-height($width, $height) {
	width: $width;
	height: $height;
}

@mixin currency($sym) {
	&::after {
		content: "#{$sym}";
		@content;
	}
}

@mixin media-mn($width) {
	@media (min-width: em($width)) {
		@content;
	}
}

@mixin media-mx($width) {
	@media (max-width: md($width)) {
		@content;
	}
}

@mixin hover() {
	@media (any-hover: hover) {
		&:hover {
			@content;
		}
	}
}

/**
	обрезает текст до определенного кол-ва строк
	(по умолчанию 3), остаток заменяет на 3 точки (...)
	*/
@mixin line-clamp($value: 3) {
	display: -webkit-box;
	-webkit-line-clamp: $value;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

// !плавное убирание placeholder
@mixin hide-placeholder($time: 300, $effect: ease-in-out) {
	&::-webkit-input-placeholder       {opacity: 1; transition: opacity #{$time} + ms $effect;}
	&::-moz-placeholder                {opacity: 1; transition: opacity #{$time} + ms $effect;}
	&:-moz-placeholder                 {opacity: 1; transition: opacity #{$time} + ms $effect;}
	&:-ms-input-placeholder            {opacity: 1; transition: opacity #{$time} + ms $effect;}
	&:focus::-webkit-input-placeholder {opacity: 0; transition: opacity #{$time} + ms $effect;}
	&:focus::-moz-placeholder          {opacity: 0; transition: opacity #{$time} + ms $effect;}
	&:focus:-moz-placeholder           {opacity: 0; transition: opacity #{$time} + ms $effect;}
	&:focus:-ms-input-placeholder      {opacity: 0; transition: opacity #{$time} + ms $effect;}
}
