.page {
	font-family: var(--text-font-family);
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	color: $main-font-color;

	.lock & {
		overflow: hidden;
		touch-action: none;

		/* Prevents chain scrolling */
		overscroll-behavior: none;
	}

	@if $background-gradient == 1 {
		background: $main-background-color;

		/* If the background is a gradient, then this property helps to stretch the gradinet to its full height */
		background-attachment: fixed;
	} @else {
		background-color: $main-background-color;
	}

	@if $selestion == 1 {
		*::selection {
			color: var(--color-light);

			/* Changes the default text selection styles */
			background-color: var(--color-dark-gray);
		}
	}
}
