.wrapper {
	display: flex;
	flex-direction: column;

	/* With value overflow: clip;, position: sticky; works correctly */
	overflow: clip;
	min-height: 100%;

	> .content {
		flex: 1 1 auto;
	}

	@if $slider-fix == 1 {
		> * {
			/* Fixes swiper.js bug */
			min-width: 0;
		}
	}
}
