<footer class="footer">
	<div class="footer__container">
		<div class="top-footer">
			<a class="logo" href="index.html">
				<img src="@content/icons/logo/sibmain.svg" alt="Сибмэйн">
			</a>
			<nav>
				<ul class="top-footer__list">
					<li><a href="">Дата-центр</a></li>
					<li><a href="">Каталог товаров</a></li>
					<li><a href="">О компании</a></li>
					<li><a href="">Новости</a></li>
					<li><a href="">Контакты</a></li>
					<li><a href="">Полезная информация</a></li>
					<li><a href="">Партнерам</a></li>
				</ul>
			</nav>
		</div>
		<div class="footer__contacts">
			<div class="contact">
				<div class="contact__icon">
					<svg>
						<use href="@content/svg/sprite.svg#email"></use>
					</svg>
				</div>
				<a href="mailto:info@sibmain.ru" class="contact__link">info@sibmain.ru</a>
			</div>
			<div class="contact">
				<div class="contact__icon contact__icon_stroke">
					<svg>
						<use href="@content/svg/sprite.svg#call"></use>
					</svg>
				</div>
				<a href="tel:+79375444443" class="contact__link">+7 (937) 544 44 43</a>
			</div>
		</div>
		<div class="bottom-footer">
			<div class="bottom-footer__copy">Копирайт 2023</div>
			<ul class="bottom-footer__list">
				<li><a href="">Договор оферты</a></li>
				<li><a href="">Политика конфиденциальности</a></li>
			</ul>
		</div>
	</div>
</footer>
