<section class="subscribe-us">
	<div class="subscribe-us__container">
		<div class="subscribe-us__body">
			<div class="subscribe-us__title title title_white">
				<img data-src="@content/icons/subscribe/telegram.svg" class="subscribe-us__icon" alt="Телеграм" data-da=".subscribe-us__actions, 960, first">
				<h3>Подписывайся на наш Telegram - канал</h3>
			</div>
			<div class="text text_white">
				<p>Мы предлагаем всестороннее освещение новостей, связанных с майнингом криптовалют, включая технологические
					инновации, изменения в алгоритмах, обновления крупных проектов и многое другое.</p>
			</div>
		</div>
		<div class="subscribe-us__actions">
			<a href="#" class="button button_white">Перейти</a>
		</div>
	</div>
</section>
