.menu-actions {
	position: fixed;
	right: -100%;
	bottom: 0;
	z-index: 4;
	display: flex;
	flex-direction: column;
	gap: rem(30);
	overflow: auto;
	height: calc(100% - rem(47));
	background: var(--color-light);
	opacity: 0;
	transition: right .4s ease-in-out, opacity .2s ease-in-out;

	// .menu-actions__list
	&__list {
		flex: 1 1 auto;
	}

	.header-sticky & {
		height: calc(100% - rem(70));
	}

	@include media-mn(960) {
		display: none;
	}

	@include media-mx(960) {
		.menu-open & {
			right: 0;
			opacity: 1;
		}
	}

	@include media-mn($phone) {
		padding: rem(28) rem(30) rem(30);
		width: rem(290);
		box-shadow: rem(-4) rem(8) rem(10) rgba(#000, 10%);
	}

	@include media-mx($phone) {
		bottom: 0;
		padding: rem(10) rem(15) rem(30);
		width: 100%;
		height: calc(100% - rem(176));
	}
}
